<!DOCTYPE html> 
<html> 
    <head> 
        <title><%= pageTitle%></title> 
        <link rel="stylesheet" href="/css/form.css">
    </head> 
    <body> 
        <% if (message) { %>
        <h1>  <%=message%></h2>
          <%}%>
        
        <form action="/signUp" method="POST"> 
        <div class="container"> 
            <h2>Sign In</h2>
            <b>Firstname</b>
            <input type="text" placeholder="Enter Firstname" 
            name="firstname" id="firstname" required> 
            <br>
            <br><b>Lastname</b><br>
            <input type="text" placeholder="Enter Lastname" 
            name="lastname" id="lastname" required> 
            <br>
            <br><b>Email</b><br>   
           <input type="email" placeholder="Enter Email" 
            name="email" id="email" required> 
            <br>
            <br><b>Password</b><br> 
            <input type="text" placeholder="Enter Password" 
            name="psw" id="psw" required> 
            <br>
            <br><b>ConfirmPassword</b><br> 
            <input type="cnfrmpassword" placeholder="Confirm Password" 
            name="cnfrmpsw" id="cnfrmpsw" required> 
            <br><br> 
            <button type="submit" class="registerbtn" > 
             Enter</button> 
        </div> 
        
        </form> 
        <div class="container signin"> 
            <p>Want to LogIn ?
             <a href="/">Log In.</a></p> 
            </div> 
    </body> 
</html> 